<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td><a routerLink="/updateUser" > Update </a></td>
        <td><a routerLink="/deleteUser" > Delete </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
